<!DOCTYPE html>
<html>
<head>
    <title>Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <p>{{servers}}</p>
    <p>{{data}}</p>
    <canvas id="myChart"></canvas>
    <input id="dataset" type="hidden" value="{{ dataset }}">

    <script>
        
        let jsonString = document.querySelector("#dataset").value.replaceAll("'", '"');
        let dataset = JSON.parse(jsonString).dataset;
        
        let ctx = document.getElementById('myChart').getContext('2d');
        // Use the data passed from Django
        let labels = [];
        for(let i = 0; i < 25; i++)
            labels.push(String(i));
        let values = "{{ data.values|safe }}";

        console.log(dataset)
        let chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: dataset
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        async function makeRequest() {
            let promise = await fetch('/servers');
            let data = await promise.json();
            console.log(data)
        }
    </script>
</body>
</html>
