<!DOCTYPE html>
<html>

<head>
    <title>Chart</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <p>{{servers}}</p>
    <p>{{data}}</p>
    <canvas id="myChart"></canvas>
    <input id="dataset" type="hidden" value="{{ dataset }}">

    <script>

        let ctx = document.getElementById('myChart').getContext('2d');
        // Use the data passed from Django
        let labels = [];
        for (let i = 0; i < 25; i++)
            labels.push(String(i));

        makeRequest().then((result) => {
            let chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: result,
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        })

        async function makeRequest() {
            let promise = await fetch('http://localhost:8000/servers');
            let responce = await promise.json();

            return responce['dataset'];
        }
        // call performAction every n second
        setInterval(makeRequest, 30000);

    </script>
</body>

</html>