<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servers Pinger</title>
</head>
<body>
    <h1 style="color: red;">WHERE IS MY PAGE</h1>
    
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="enter ip" name="ip">
        <button type='submit'>Approove</button>
    </form>
    <script>
        function performAction() {
            $.ajax({
                url: '',
                type: 'GET',
                success: function (response) {
                    // procces succes django responce
                    console.log(response);
                },
                error: function (error) {
                    // procces error
                    console.log(error);
                }
            });
        }

        // call performAction every n second
        setInterval(performAction, "{{UPDATE_FREQUENCY}}" * 1000);
    </script>
</body>

</html>